// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";

#main {
  background: #ffffff;
  margin-left: 23%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px 10px hsla(0, 0%, 0%, 0.65);
  .entry:nth-child(odd){
    background-color: #ffffff;
  }
  .entry:nth-child(even){
    background-color: darken(#ffffff,10%);
    border-radius: 10px;
  }
}